*.aps
*.bak
*.cache
*.dbmdl
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.scc
*.sdf
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*_i.c
*_p.c
*.lock
*.jar
[Bb]in
[Db]ebug
obj
[Rr]elease
_ReSharper*
[Tt]est[Rr]esults
[Bb]uild[Ll]og.*
[Pp]ublish.xml
sql
"Import Script Logs"
PrecompiledWeb
connectionStrings.config
*.sass-cache
ipch
packages
*.opensdf
FakesAssemblies
NDependOut
/src/Web/js/app.js
/src/Web/js/app.js.map
/src/Web/node_modules
msbuild.log
dist