*.bak
*.exe
*.log
*.obj
*.pdb
*.user
*.vspscc
*.lock
[Bb]in
[Db]ebug
obj
[Rr]elease
_ReSharper*
[Tt]est[Rr]esults
[Bb]uild[Ll]og.*
[Pp]ublish.xml
sql
"Import Script Logs"
packages
FakesAssemblies
.vs
*.dbmdl